.about-content p,.article-concept-content p,.suggest-food-child p,.investor-area p{
	text-align: left !important;
}
.about-content .article-hr,.investor-area h2{
	text-align: center;
}

.bio-article-list .bio-article-row p{
	text-align: left !important;
}